#web {
  cursor: url(images/spider.png), pointer;
  margin: 0;
  padding: 0;
  position: fixed;
  touch-action: none;
  width: calc(100% - 2px); /* for borders */
  height: calc(100% - 2px); /* for borders */
  border: 1px dashed;
  top: 0;
  left: 0;
}

div {
  position: fixed;
  top: 0;
  background: transparent;
}
